name: Test
on: [pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.22'
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: go test ./... -short